body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system;
    font-weight: bold;
    background-color: white;
    color: white;
    font-size: 12px;
}

#pie {
    clear: both;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

#encabezado {
    background-color: #000;
    padding: 10px;
}

#logo-eslogan {
    display: flex;
    align-items: center;
}

#logo img {
    width: 250px;
    height: 250px;
}

.navbar {
    background-color: #000;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar a {
    color: #fff !important;
    transition: color 0.3s;
    font-weight: bold;
}

.navbar:hover {
    background-color: #333;
}

#hottoys {
    margin: 20px;
    padding: 20px;
}

#hottoys h1 {
    text-align: center;
}

#sideshow {
    margin: 20px;
    padding: 20px;
}

#sideshow h1 {
    text-align: center;
}

h1 {
    font-size: 24px;
}

#hottoys-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#sideshow-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.coleccionable {
    width: 18%;
    transition: transform 0.3s;
}

.coleccionable:hover {
    transform: scale(1.1);
}

.coleccionable img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.coleccionable p {
    font-size: 18px;
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
}

.coleccionable h4 {
    font-size: 20px;
    color: #ffbf00;
    text-align: left;
    font-weight: bold;
}

.coleccionable h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #ffbf00;
    text-align: left;
    font-weight: bold;
}

@media (max-width: 700px) {
    #hottoys-contenedor,
    #sideshow-contenedor {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .coleccionable {
        width: 95%;
    }
}

